h1 {
    color:blue;
}

.content {
    padding-bottom:300px;
    margin:auto;
    width: 1000px;
    padding:20px;
    overflow: hidden;
}

.box {
    width: 100%;
    height:200px;
    margin-bottom:30px;
}

.left {
    padding-bottom:200px;
}

.bg-orange {
    background-color: orange;
}

.bg-blue {
    background-color: blue;
}

.bg-green {
    background-color: green;
}

.content img {
    width: 90%;
}